/* 字体文楷 */
* {
    font-family: "LXGW WenKai Screen";
}

/* 扩充间距 */
/* 文章内容 */
.post-content {
    padding-bottom: 5rem;
}
/* 小标题 */
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 5rem;
}
/* 列表正文 */
.post-content li p {
    margin-bottom: var(--content-gap);
}